<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for requesting <%= @prospect.download || "free content"%></h1>
    <p>
      Your file will arrive shortly. 
      <br>
    </p>
    <p>
  
    </p>
    <p>Have a great day!</p>
  </body>
</html>